<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='course-style.css') }}">
</head>
<body>
    <div class = 'header'>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class='logo'>
        </a>
        <div class ='buttons'>
            <form action="{{ url_for('login') }}" method="POST" class="login">
                <button class="login_button" name='login'>Вхід</button>
            </form>
            <form action="{{ url_for('login') }}" method="POST" class="register">
                <button class="register_button" name='register'>Рєстрація</button>
            </form>
        </div>
    </div>

    <div class = 'background', style = "background-image: url({{url_for('static', filename='ucu.jpg') }});">
        <div class="main">
            <h1>{{ info[0] }}</h1>
            <div class = info>
                <img src="{{ url_for('static', filename= 'teachers/' + info[4] + '.jpg') }}" alt="Photo" class='image'>
                <h2>{{ info[1] }}</h2>
                <p>{{ info[2] }}</p>
                <h2>Анотація курсу</h2>
                <p>{{ info[3] }}</p>
            </div>
            <div class = 'comments-box'>
                <h2>Коментарі ({{ info[5]|length }})</h2>
                <p>Зареєстровано як {{ user['email'] }}</p>
                <form action="{{ url_for('add_comment') }}" method="POST" class="comment-form">
                    <input type='text' name="comment-input" placeholder="Залиште коментар" required>
                    <button type='submit' class='comment-button' id = 'submit-button'>Опублікувати</button>
                    <script>
                        document.getElementById('submit-button').addEventListener('click', function() {
                            this.innerHTML = 'Обробляємо...';
                        });
                    </script>
                    <br />
                    <input type="checkbox" id="anonymous" name="anonymous" class = 'anonymous'>
                    <label for="anonymous" class = 'anonymous-checkbox'>Опублікувати анонімно</label>
                </form>
                {% for comment in info[5] %}
                    <div class = 'comment'>
                        <h4>{{  comment[0][1] }}</h4>
                        <p>({{ comment[0][0] }})</p>
                    </div>
                    <p class = 'comment-single'>{{ comment[0][2] }}</p>
                    <br>
                {% endfor %}
            </div>
            <div>‎ </div>
        </div>
    </div>
</body>


<footer>
    <div class = 'footer'>
        <a href="{{ url_for('about') }}">
            <p>UCUtalks</p>
        </a>
        <p>© 2024, All rights reserved</p>
    </div>
</footer>
</html>

