<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = 'header'>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class='logo'>
        </a>
        <div class ='buttons'>
            {% if session['user'].get('email') is none %}
            <form action="{{ url_for('login') }}" method="POST" class="login">
                <button class="login_button" name='login'>Вхід</button>
            </form>
            <form action="{{ url_for('login') }}" method="POST" class="register">
                <button class="register_button" name='register'>Рєстрація</button>
            </form>
            {% elif 'user' in session %}
            <h3>{{ session['user']['name'] }}</h3>
            <img src="{{ session['picture'] }}" alt="Profile Picture" class = 'profile'>
            <form action="{{ url_for('logout') }}" method="POST" class="register">
                <button class="logout_button" name='Logout'>Вихід</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class = 'background', style = "background-image: url({{url_for('static', filename='ucu.jpg') }});">
        <div class="main">
            <form class="search-form", action="{{ url_for('search', courses=courses) }}" method="POST">
                <input type="text" name = 'search' class="search-input" placeholder="Пошук..." required>
                <button type='submit' class='search-button'>Пошук</button>
            </form>
            <h1 class = 'h1'>Курси</h1>
            <div class="courses">
                {% for i in courses %}
                <form action="{{ url_for('course') }}" method='POST'>
                    <input type="hidden" name="course" value="{{i}}">
                    <button class = course>{{i}}</button>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = 'footer'>
        <a href="{{ url_for('about') }}">
            <p>UCUtalks</p>
        </a>
        <p>© 2024, All rights reserved</p>
    </div>
</body>
</html>

